
{% extends "layout.njk" %}
{% block content %}
{# ------ TITLE ------- #}
<h1> DETAILS </h1>
{# ------ TITLE END ------- #}

{# ------ GAME-DETAILS ------- #}
  {%for game in detailsGame%}
  <li>
  <img class="image"href = "{{game.url}}"src="{{game.url}}"/>
  </li>
   {%else%}
  <li> It is empty </li>
  {%endfor%}
{# ------ GAME-DETAILS END ------- #}
{% endblock %}

