{% extends "layout.njk" %}
{% block content %}
{# ------ TITLE ------- #}
  <h1 class="text-center" style = "padding:10rem"> Welcome to the GAMES CATALOGUE! </h1>
{# ------ TITLE END------- #}
{% endblock %}
