{% extends "layout.njk" %}
{% block content %}
  <h1> Hi! </h1>
  {%for game in gamesAccess%}
  <li>
  <img href = "/{{game.cover.url}}"src="{{game.cover.url}}" alt="{{game.name}}"/>
  <a href="#">{{game.name}}</a>
  </li>
  {%else%}
  <li> It is empty </li>
  {%endfor%}
{% endblock %}


