{% extends "layout.njk" %}
{% block content %}
{# ------ TITLE ------- #}
<h1> ALL GAMES </h1>
{# ------ TITLE END------- #}

{# ------ GAME LIST ------- #}
  {%for game in gamesAccess%}
  <a href="/{{game.id}}/{{game.name}}" class="btn btn-secondary"><img src="{{game.cover.url}}" class="img-fluid" alt="{{game.name}}">
   </a>
  {%else%}
      <li> It is empty </li>
  {%endfor%}


{# ------ GAME LIST END ------- #}
{# ------ PAGINATION ------- #}
  <div class="center">
  <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="?page=1">1</a>
  <a href="?page=2" >2</a>
  <a href="?page=3">3</a>
  <a href="?page=4">4</a>
  <a href="?page=5">5</a>
  <a href="?page=6">6</a>
  <a href="?page=7">7</a>
  <a href="?page=8">8</a>
  <a href="?page=9">9</a>
  <a href="?page=10">&raquo;</a>
  </div>
{# ------ PAGINATION END ------- #}
{% endblock %}


